.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.central-button{
    padding: 15px 25px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.central-button:hover{
    background-color: #45a049;
}